/* work sans google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* shared styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    padding: 20px 30px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    border: 0;
}

.text-light-gray {
    color: #727272;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0;
}

main {
    padding: 0 100px;
}

/* Header Section */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    gap: 50px;
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
}

.banner-content {
    width: 860px;
    margin: 50px auto;
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.banner img {
    width: 100%;
}

/* Teams Section Styles */

.teams-container {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.teams-container .teams-card-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.teams-card-img img {
    width: 300px;
}

.teams-title {
    color:#131313;
    font-size: 3rem;
    font-weight: 700;
}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-content .features {
    color: #FF900E;
    font-weight: 700;
}







/* Media Queries */
/* Mobile device */

@media screen and (max-width: 576px) {

    nav,
    .nav-menu,
    .teams-container {
        flex-direction: column;
    }

    header,
    main {
        padding: 20px;
    }

    .banner-content,
    .teams-card-img img {
        width: 100%;
    }

    .nav-menu {
        margin-top: 30px;
        gap: 20px;
    }

    .nav-menu li {
        background-color: #FF900E;
        text-align: center;
        padding: 10px 20px;
        border-radius: 10px;
    }

    .teams-container {
        margin: 0;
    }
    .teams-container .teams-card-img {
        grid-template-columns: 1fr;
    }

}

/* lablat or medum device */
@media screen and (min-width: 576px) and (max-width: 960px) {
    nav,
    .teams-container {
        flex-direction: column;
    }

    .nav-menu {
        margin-top: 30px;
    }

    header,
    main {
        padding: 20px;
    }

    .banner-content {
        width: 100%;
    }
    .teams-container {
        margin: 0;
    }
}